:host {
	display: block;
	border: 2px solid red;
	@apply --layout-horizontal;
	@apply --shadow-elevation-4dp;
	
}
:host>span {
		border: 1px solid green;
		margin: 5px;
		@apply --layout-flex;
		@apply --shadow-elevation-4dp;
	}